body {
  margin: 0;
  padding: 0;
  display: grid;
  align-content: center;
  justify-content: center;
}
div.start {
  position: absolute;
  left:14px;
}
div.position {
  display: grid;
  align-content: center;
  justify-content: center;
}
div.wrap {
  display: none;
  align-content: center;
  justify-content: center;
}
div.score {
  position: absolute;
  height: 144px;
  width: 44px;
}
div.all {
  height: 100vh;
  width: 100vw;
  background: lightblue;

}
div.options__start {
     display: grid;
     height: 100px;
     width: 200px;
     align-content: center;
     justify-content: center;

}
button {
  border: 1px solid lightblue;
}
button:hover {
  background:lightblue;
}
div.play__array {
  position: absolute;
  left:0px;
  height: 444px;
  width: 864px;
  background: #000;
}
div.score {
  position: absolute;
  left:144px;
  width: 444px;
}
div.hranic {
  height: 444px;
  background: white;
  position: absolute;
  opacity: 0.4;
  width: 14px;
  left:430px;
  top:0;
}
div.ioptions {
display: grid;
align-content: center;
justify-content: center;
}
input {
  position: relative;
  height: 14px;
  width: 190.4px;
}
div.options {
  position: absolute;
}
div.ball {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  left:422px;
  top:200px;
}




div.boddva {
  position: absolute;
  left:284px;
  top:14px;
  color:white;
  font-size: 44px;
}
div.bodjedna {
  position: absolute;
  left:4px;
  top:14px;
  color:white;
  font-size: 44px;
}
div.help {

}
div.play__two {
  position: absolute;
  left:0px;
  top:0px;
  height: 144px;
  width: 44px;
  background: #fff;
}
div.play__one {
  position: absolute;
  left:820px;
  top:0px;
  height: 144px;
  width: 44px;
  background: #fff;
}
